/* Background pattern from subtlepatterns.com */

/* Mixins */
@mixin date() {
    color: #243245;
    font-size: 0.75em;
}

@mixin tag() {
    background: #363636;
    color: #f4f4f4;
    border-radius: 0.5em;
    text-decoration: none;
    font-size: 0.75em;
    padding: 0.3rem;
    margin: 0.2rem 0.1rem;
    display: inline-block;
}

/* Main */

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(/img/type.png);
    color: #CACACA;
    font-size: 100%;

    a {
        color: white;
        text-decoration: none;
    }
}

.main {
    color: black;
    background-color: #f4f4f4;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 2em 40px;

    a {
        color: #243245;

        &:hover { text-decoration: underline; }
    }

    .post-item {
        .date {
            @include date();
        }

        .tag {
            @include tag();
        }

        .header {
            margin-bottom: 3em;
        }

        .content {
            a {
                color: #5f46ff;
            }

            p {
                line-height: 1.6em;
                margin: 0 0 2em;
            }
        }
    }

    .post-list-item {
        margin-bottom: 3em;

        .date {
            @include date();
        }

        .tag {
            @include tag();
        }

        .description {
            margin-top: 1em;
        }
    }

}

.sidebar {
    .site-details {
        .title { 
            .light { color: #FFFFFF; }
            .dark { color: #585757; }

            :hover {
                text-decoration: none;
            }
        }
    }

    .categories .category {
          background: #f4f4f4;
          color: #363636;
          border-radius: 0.5em;
          text-decoration: none;
          font-size: 0.75em;
          padding: 0.3rem;
          margin: 0.3rem 0.1rem;
          display: inline-block;
    }
}




