@import 'include-media/dist/_include-media.scss';

// Breakpoints for include-media
$breakpoints: (phone: 480px, tablet: 768px, desktop: 1024px);

/* Background pattern from subtlepatterns.com */

// Palette courtesy of Open Color
// https://yeun.github.io/open-color/
@import './open-color.scss';

$color-background: $oc-gray-1;
$color-background-invert: $oc-gray-8;
$color-text: $oc-gray-8;
$color-text-invert: $oc-gray-1;

$color-tag-text: $color-text-invert;
$color-tag-background: $oc-teal-8;

/* Mixins */
@mixin date() {
    color: $oc-gray-6;
    font-size: 0.75em;
}

@mixin tag() {
    color: $color-tag-text;
    background: $color-tag-background;
    border-radius: 0.5em;
    text-decoration: none;
    font-size: 0.75em;
    padding: 0.3rem;
    margin: 0.2rem 0.1rem;
    display: inline-block;
}

/* Main */

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(/img/type.png);
    color: $color-text;
    font-size: 100%;

    a {
        color: $color-background;
        text-decoration: none;
    }
}

h1 { font-size: 2em; }
h2 { font-size: 1.414em; }
h3 { font-size: 1.155em; }
h4 { font-size: 1em; }
h5 { font-size: 0.894em; }
h6 { font-size: 0.816; }

.main {
    color: $color-text;
    background-color: $color-background;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 2em 40px;

    a {
        color: $color-text;
        &:hover { text-decoration: underline; }
    }

    .post-item {
        .date {
            @include date();
        }

        .tag {
            @include tag();
        }

        .header {
            margin-bottom: 3em;
        }

        .content {
            p {
                line-height: 145%;
                margin: 0 0 2em;
            }

            a {
                // TODO: Define proper styles
                &:link { color: $oc-blue-4; }
                &:visited { color: $oc-blue-9; }
                &:hover { color: $oc-blue-4; }
            }
        }

        h1, h2, h3, h4, h5, h6 {
            color: $oc-teal-9;
        }

        @include media('<tablet') {
            .title { 
                font-size: 2em; 
            }

            .content {
                font-size: 0.9em; 
                h1, h2, h3, h4, h5, h6 { 
                    font-size: 1.2em; 
                }
            }

            .tag { font-size: 0.7em; }
        }
    }

    .post-list-item {
        margin-bottom: 3em;

        .date {
            @include date();
        }

        .tag {
            @include tag();
        }

        .description {
            margin-top: 1em;
        }

        h1, h2, h3, h4, h5, h6 {
            a { color: $oc-teal-9; }
        }

        @include media('<tablet') {
            .title { 
                line-height: 0.8;
                a { font-size: 20px; }
            }

            .tag { font-size: 0.7em; }

            .description { font-size: 0.9em; }
        }
    }

}

.sidebar {
    color: $color-text-invert;

    > section {
        padding: 30px 0;
    }

    .site-details {
        .title { 
            text-transform: uppercase;
            font-size: 3.5em;

            .left { color: $oc-gray-0; }
            .middle { color: $oc-gray-4; }
            .right { color: $oc-gray-7; }

            :hover {
                text-decoration: none;
            }
        }
    }

    .categories .category {
          background: $color-background;
          color: $color-text;
          border-radius: 0.5em;
          text-decoration: none;
          font-size: 0.75em;
          padding: 0.3rem;
          margin: 0.3rem 0.1rem;
          display: inline-block;
    }

    .contact-details .contact {
        padding: 0 4px;
    }
}




