@import 'include-media/dist/_include-media.scss';

// Breakpoints for include-media
$breakpoints: (phone: 480px, tablet: 768px, desktop: 1024px);

/* Background pattern from subtlepatterns.com */

// Palette courtesy of Open Color
// https://yeun.github.io/open-color/
$oc-gray-0: #F8F9FA;
$oc-gray-1: #f1f3f5;
$oc-gray-2: #e9ecef;
$oc-gray-3: #dee2e6;
$oc-gray-4: #ced4da;
$oc-gray-5: #adb5bd;
$oc-gray-6: #868e96;
$oc-gray-7: #495057;
$oc-gray-8: #343a40;
$oc-gray-9: #212529;

$color-background: $oc-gray-1;
$color-background-invert: $oc-gray-8;
$color-text: $oc-gray-8;
$color-text-invert: $oc-gray-1;

/* Mixins */
@mixin date() {
    color: $oc-gray-6;
    font-size: 0.75em;
}

@mixin tag() {
    background: $color-background-invert;
    color: $color-text-invert;
    border-radius: 0.5em;
    text-decoration: none;
    font-size: 0.75em;
    padding: 0.3rem;
    margin: 0.2rem 0.1rem;
    display: inline-block;
}

/* Main */

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(/img/type.png);
    color: $color-text;
    font-size: 100%;

    a {
        color: $color-background;
        text-decoration: none;
    }
}

.main {
    color: $color-text;
    background-color: $color-background;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 2em 40px;

    a {
        color: $color-text;
        &:hover { text-decoration: underline; }
    }

    .post-item {
        .date {
            @include date();
        }

        .tag {
            @include tag();
        }

        .header {
            margin-bottom: 3em;
        }

        .content {
            p {
                line-height: 1.6em;
                margin: 0 0 2em;
            }
        }

        @include media('<tablet') {
            .title { 
                font-size: 2em; 
            }

            .content {
                font-size: 0.9em; 
                h1, h2, h3, h4, h5, h6 { font-size: 1.2em; }
            }

            .tag { font-size: 0.7em; }
        }
    }

    .post-list-item {
        margin-bottom: 3em;

        .date {
            @include date();
        }

        .tag {
            @include tag();
        }

        .description {
            margin-top: 1em;
        }

        @include media('<tablet') {
            .title { 
                line-height: 0.8;
                a { font-size: 20px; }
            }

            .tag { font-size: 0.7em; }

            .description { font-size: 0.9em; }
        }
    }

}

.sidebar {
    color: $color-text-invert;

    > section {
        padding: 30px 0;
    }

    .site-details {
        .title { 
            text-transform: uppercase;
            font-size: 3.5em;

            .left { color: $oc-gray-0; }
            .middle { color: $oc-gray-4; }
            .right { color: $oc-gray-7; }

            :hover {
                text-decoration: none;
            }
        }
    }

    .categories .category {
          background: $color-background;
          color: $color-text;
          border-radius: 0.5em;
          text-decoration: none;
          font-size: 0.75em;
          padding: 0.3rem;
          margin: 0.3rem 0.1rem;
          display: inline-block;
    }

    .contact-details .contact {
        padding: 0 4px;
    }
}




