<div class="col-md-4 sidebar">
    <section class="site-details">
        <h1 class="title">
            <a href="/">
                <span class="light">Arvin</span><span class="dark">sim</span>
            </a>
        </h1>
        <div class="description">Observations on things of interest</div>
    </section>
    <section class="categories">
        <h2>Categories</h2>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a href="/categories/{{ $name | urlize }}" class="category">{{ $name }}</a>
        {{ end }}
    </section>
    <section class="contact-details">
        <h2>Contacts</h2>

        {{ with .Site.Params.Email }}
        <div><i class="fa fa-envelope-o"></i><a class="contact" href="mailto:{{.}}">Email</a></div>
        {{ end }}

        {{ with .Site.Params.GithubID }}
        <div><i class="fa fa-github"></i><a class="contact" href="https://github.com/{{.}}">Github</a></div>
        {{ end }}

        {{ with .Site.Params.LinkedInID }}
            <div><i class="fa fa-linkedin"></i><a class="contact" href="https://linkendin.com/in/{{.}}">LinkedIn</a></div>
        {{ end }}

        <div><i class="fa fa-rss"></i><a class="contact" href="http://arvinsim.com/index.xml">RSS</a></div>
    </section>
</div>