<div class="col-md-4 sidebar">
    <section class="site-details">
        <h1 class="title">
            <a href="/">
                <span class="light">Arvin</span><span class="dark">sim</span>
            </a>
        </h1>
        <div class="description">Observations on things of interest</div>
    </section>
    {{/*
    <section class="contact-details">
        <h2>Contacts</h2>
        <div><i class="fa fa-envelope-o"></i><a class="contact" href="">Email</a></div>
        <div><i class="fa fa-rss"></i><a class="contact" href="http://arvinsim.com/index.xml">RSS</a></div>
    </section>
    */}}
</div>