<div class="col-md-4 sidebar">
    <section class="site-details">
        <h1 class="title">
            {{ with .Site.Params.Logo }}
            <img src="{{.}}" alt="logo" class="logo img-circle img-responsive">
            {{ end }}
            <a href="/">
                <span class="left">Ar</span><span class="middle">vin</span><span class="right">sim</span>
            </a>
        </h1>
        {{ with .Site.Params.Tagline }}
        <div class="description">{{.}}</div>
        {{ end }}
    </section>

    <section class="site-links">
        <h2>Links</h2>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </section>


    <section class="categories">
        <h2>Categories</h2>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a href="/categories/{{ $name | urlize }}" class="category">{{ $name }}</a>
        {{ end }}
    </section>

    <section class="contact-details">
        <h2>Contacts</h2>
        {{ with .Site.Params.Email }}
            <a class="contact" href="mailto:{{.}}" target="_blank"><i class="fa fa-envelope-o fa-2x"></i></a>
        {{ end }}
        {{ with .Site.Params.GithubID }}
            <a class="contact" href="https://github.com/{{.}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        {{ end }}
        {{ with .Site.Params.LinkedInID }}
            <a class="contact" href="https://linkedin.com/in/{{.}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        {{ end }}
    </section>
</div>